


  <div class="social-icons">
  <span> <img src="assets/Images/logo.png" alt ="" width="150"></span>
  
  
 
  <a href="https://www.youtube.com/Nestif Technologies" target="_blank">
    <i class="fab fa-youtube"></i>
    </a>
    <a href="https://www.linkedin.com/nestif-technologies/company" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://www.instagram.com" target="_blank">
       
      <i class="fab fa-instagram"></i>
      </a>
    <a href="https://wwww.twitter.com" target="_blank">
      <i class="fab fa-twitter"></i>
    </a>
  <a href="https://www.facebook.com" target="_blank"> 
    <i class="fab fa-facebook-f"></i>
  </a>
   
    
    
   
     
    </div> 
    <div class="Header" >
   <hr class="demo">
   <a mat-button routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/"  >HOME</a>
   
      <div class="dropdown"> <a   mat-button routerLinkActive="active"  routerLink="/about" >  ABOUT US </a>
        
    <div class="drop-content">
     
      <a href="#"> Company profile  </a> 
    
      <a href="#">Vision & Mission </a>
      <a href="#">Values and Others</a>
    
    </div>
  
  </div> 

    

    
    <div class="dropdown"> <a mat-button routerLinkActive="active"  routerLink="/services"  >SERVICES</a> 
    
      <div class="drop-content">
        
        <a href="#">Workforce Management
          <i class="fa-solid fa-arrow-right-long"></i>
          <div class="dropdown2"> 
            <div class="drop-content2">
              
              <a href="#">Staffing solutions</a>
               <a href="#">IT Staffing</a>
               <a href="#">Skill & learning solutions</a>
               <a href="#">IT Staffing</a>
               <a href="#">Skill & learning solutions</a>
              </div>
           </div> 
        </a>
      
      
       <a href="#">production Engineering
        <i class="fa-solid fa-arrow-right-long"></i>
        <div class="dropdown2">
          <div class="drop-content2">
           
            <a href="#">Staffing solutions</a>
             <a href="#">IT Staffing</a>
             <a href="#">Skill & learning solutions</a>
             <a href="#">IT Staffing</a>
             <a href="#">Skill & learning solutions</a>
            </div>
         </div> 
       </a>
        <a href="#">Skill Management
          <i class="fa-solid fa-arrow-right-long"></i>
          <div class="dropdown2">
            <div class="drop-content2">
             
              <a href="#">Staffing solutions</a>
               <a href="#">IT Staffing</a>
               <a href="#">Skill & learning solutions</a>
               <a href="#">IT Staffing</a>
               <a href="#">Skill & learning solutions</a>
              </div>
           </div> 
        </a>
        <a href="#">Soft Management </a>
        
       
      </div>
      
    </div>
  
  
    
      
      
        
   
    <a mat-button routerLinkActive="active"  routerLink="/" >SUSTAINABILITY</a>
  <a mat-button routerLinkActive="active"  routerLink="/" >INVESTORS</a>
  
  
    <div class="dropdown"><a mat-button routerLinkActive="active"  routerLink="/" >MEDIA </a>
      <div class="drop-content">
        
        <a href="#">Press  Release </a>
        <a href="#">Press  Coverage </a>
        <a href="#">Media  Contact <i class="fa-solid fa-arrow-right-long"></i>
          <div class="dropdown2">
            <div class="drop-content2">
             
              <a href="#">Staffing solutions</a>
               <a href="#">IT Staffing</a>
               <a href="#">Skill & learning solutions</a>
               <a href="#">IT Staffing</a>
               <a href="#">Skill & learning solutions</a>
            
              </div>
           </div> 
        </a>
       
      </div>
    
    </div>
  
  <a mat-button routerLinkActive="active"  routerLink="/career" >CAREER</a>
  <a mat-button routerLinkActive="active"  routerLink="/contact"  >  CONTACT</a>
  
      </div>
      <hr>
    <!-- <div>
    <mat-toolbar > 
   <a mat-button routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/"  >HOME</a>
 
   <a   mat-button routerLinkActive="active"  routerLink="/about" >
     <div class="dropdown"> ABOUT US 
      <div class="drop-content">
        
        <a href="#">Company profile </a>
        <a href="#">Vision & Mission </a>
        <a href="#">Values and Others</a>
       
      </div>
    
    </div>
   
  </a>
  <a mat-button routerLinkActive="active"  routerLink="/services"  > 
     <div class="dropdown">SERVICES 
    
    <div class="drop-content">
      
      <a href="#" >Workforce Management
        <i class="fa-solid fa-arrow-right-long"></i>
      </a>
     
       
       <div class="dropdown2">
         <ul>
         <li> <a href="#">Staffing solutions</a></li>
         <li>  <a href="#">IT Staffing</a></li>
         <li>  <a href="#">Skill & learning solutions</a></li>
          </ul>
       </div> 
    
      
     <a href="#">production Engineering
      <i class="fa-solid fa-arrow-right-long"></i>
     </a>
      <a href="#">Skill Management
        <i class="fa-solid fa-arrow-right-long"></i>
      </a>
      <a href="#">Soft Management </a>
      
     
    </div>
    
  </div>
 
   </a>
  
  <a mat-button routerLinkActive="active"  routerLink="/contact"  >CONTACT US</a>
  <a mat-button routerLinkActive="active"  routerLink="/career" >CAREER</a>
  </mat-toolbar>


</div> -->

    
    

<!-- </div> -->

  <!-- <a href="https://www.facebook.com/Rajkishor Saha" target="_blank"> 
   <i class="fa-brands fa-facebook text-primary fa-1x" ></i>
  </a>
  <a href="https://www.youtube.com" target="_blank"> 
    <i class="fa-brands fa-youtube text-primary fa-1x"></i>
    </a>
    <a href="https://www.instagram.com" target="_blank">
    <i class="fa-brands fa-instagram text-primary fa-1x"></i>
    </a>
    <a href="https://www.linkedin.com" target="_blank">
    <i class="fa-brands fa-linkedin text-primary fa-1x"></i>
    </a>
    <a href="https://www.twitter.com" target="_blank">
    <i class="fa-brands fa-twitter text-primary fa-1x"></i>
    </a> -->

    