<div class="Footer">
    <div class="row">
        <div class="col">
            <h5>VISIT US</h5>
            <div class="social-icons">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
               
            </div>
          
        </div>
        
        
        <div class="col">
            <h5>CAREERS</h5>
            <h5>CONTACT US</h5>   
            <p ><i class="fa-solid fa-envelope"></i>
                  Email-id:nestiftechnologies@gmail.com</p>
            <h5 ><i class="fa-solid fa-phone"></i>
                +91-8677066576</h5>       
        </div> 
        <div class="col">
            <h5><i class="fa-solid fa-house"></i>
                   OFFICE: Hyderabad</h5>
            
                
               <h5>Regd. Office: S S Lane, Adampur, Bhagalpur</h5>
        </div> 
        <hr>
        <p >Copyright @ 2021 Nestif Technologies Pvt Ltd. </p> 
    </div>
      
</div>
