


<!-- <app-navbar></app-navbar> -->

 <app-header></app-header> 
 
<!-- <app-mainview></app-mainview>  -->

<router-outlet></router-outlet>
<!-- <app-vision></app-vision>
<app-company-profile></app-company-profile> -->




    
  
  <!-- <div class="Header" >
     <mat-toolbar > 
 
     <span> <img src="assets/Images/logo.png" alt ="" width="150" ></span>
     <a mat-button routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/"  >HOME</a>
   
     <a   mat-button routerLinkActive="active"  routerLink="/about" [matMenuTriggerFor]="belowMenu" >
       <div class="dropdown"> ABOUT US 
        <div class="drop-content">
          
          <a href="#">Company profile <i class="fa-solid fa-arrow-right-long"></i> </a>
          <a href="#">Vision & Mission <i class="fa-solid fa-arrow-right-long"></i></a>
          <a href="#">Values and Others </a>
        </div>
      
      </div>
      <mat-menu #belowMenu="matMenu" yPosition="below"  >
        
        <button mat-menu-item >  Company-profile</button>
         <button mat-menu-item >Vision, Mission &Values</button>
      
      </mat-menu>
  
    </a>
    
    <a mat-button routerLinkActive="active"  routerLink="/services" [matMenuTriggerFor]="aboveMenu" >
      <div class="dropdown">SERVICES 
      <a class="dropBtn" href="#">SERVICES</a> 
      <div class="drop-content">
        
        <a href="#">Workforce Management
          <i class="fa-solid fa-arrow-right-long"></i>
          </a>
       <a href="#">production Engineering
        <i class="fa-solid fa-arrow-right-long"></i>
       </a>
        <a href="#">Skill Management
          <i class="fa-solid fa-arrow-right-long"></i>
        </a>
        <a href="#">Soft Management </a>
          
       <a href="#"> Management </a>
        
          
       
      </div>
      
    </div>
   
      <mat-menu #aboveMenu="matMenu" yPosition="below">
        <button mat-menu-item [matMenuTriggerFor]="secondLevel">Workforcre Management</button>
     <button mat-menu-item>Production Engineering</button>
      </mat-menu>
    </a>
    <a mat-button routerLinkActive="active"  routerLink="/contact"  >CONTACT US</a>
    <a mat-button routerLinkActive="active"  routerLink="/career" >CAREER</a>
   
<mat-menu #secondLevel="matMenu">
<button mat-menu-item> Staffing solution</button>
<button mat-menu-item> IT Staffing </button>
<button mat-menu-item  [matMenuTriggerFor]="thirdLevel"> Skill and Learning solution</button>
</mat-menu>
<mat-menu #thirdLevel="matMenu">
  <button mat-menu-item> Angular</button>
  <button mat-menu-item> IT </button>
  <button mat-menu-item> soft devlopment</button>
  </mat-menu>
  
 


</div> 

</mat-toolbar>
<a href="https://www.youtube.com" target="_blank"> 
  <i class="fa-brands fa-youtube text-primary fa-2x"></i>
 </a>
  <a href="https://www.instagram.com" target="_blank">
 <i class="fa-brands fa-instagram text-primary fa-2x"></i>
 </a>
 <a href="https://www.linkedin.com" target="_blank">
 <i class="fa-brands fa-linkedin text-primary fa-2x"></i>
 </a>
 <a href="https://www.twitter.com" target="_blank">
 <i class="fa-brands fa-twitter text-primary fa-2x"></i>
 </a>
 <a href="https://www.facebook.com/kumar vishwas" target="_blank"> 
   <i class="fa-brands fa-facebook text-primary fa-2x" ></i>
 </a>

</div> -->
<!-- <app-services></app-services> -->
 <!-- </div>  -->
 
<!-- <div class="dropdown">
  <a class="dropBtn" href="#">services</a>
  <div class="drop-content">
    <a href="#">Workforcre Management</a>
    <a href="#">production Engineering</a>
    <a href="#">Skill Management</a>
  </div>

</div> -->

<!-- <app-header-footer></app-header-footer> -->
 
 
 <!-- <button mat-button [matMenuTriggerFor]="belowMenu">ABOUT US</button>
    
 <mat-menu #belowMenu="matMenu" yPosition="below">
     <button mat-menu-item> company-profile</button>
     <button mat-menu-item>Vision, Mission &Values</button>
   </mat-menu> -->

   <!-- <button mat-button [matMenuTriggerFor]="belowMenu">SERVICES</button>
    
 <mat-menu #belowMenu="matMenu" yPosition="below">
     <button mat-menu-item> workforcre Managment</button>
     <button mat-menu-item>Vision, Mission &Values</button>
   </mat-menu>
  -->
 
<!-- <div class="Icon"> -->
   
    

<!-- </div> -->







<!-- <div class="Footer">
    <span>ABOUT US</span><br>
    
    <span>SERVICES</span><br>
    <span>CONTACT</span><br>
    <span>CAREERS</span><br>
    <span>Nestif Technologies believes in innovation and adapting to new technologies.<br> We collaborate with partners to drive efficient product development through disruptive technologies.<br> We can play role anywhere in the product development, consulting, POC or implementation.</span><br>
    
    

    <span>copyright @ 2022 Nestif Technologies.</span>
      -->
      <app-footer></app-footer>