<div class="demo">
<h3>Why Nestif?</h3>
<p>We’re all about big ideas and bigger opportunities. The opportunity to think differently, 
    act decisively,
    <p>   and deliver spectacular outcomes for the business. We enable this </p>
    <p> through a culture that fosters collaboration, supports differences, and celebrates
        people – making us truly a Great Place to Work.
</p>
<p>
Life at Nestif is not just about essaying a role, it’s about getting a 
<p>canvas to express your personality,</p>
<p>  and realize the full potential of</p>
<p>  where you can reach and what you can become.<p>
  <p> It’s an opportunity
  to shine through</p> 
  <p>every challenge and create an impact 
for our clients, your team, and yourself.</p>
</div>