<!-- <div class="Header" >
   <div>
   
<mat-toolbar> 
    <span> <img src="assets/Images/logo.png" alt ="" width="150" ></span>
    <a mat-button  >HOME</a>
    <a mat-button >ABOUT US</a>
    <a mat-button  >SERVICES</a>
    <a mat-button  >CONTACT</a>
    <a mat-button>CAREER</a>
   
 </mat-toolbar>


 </div> 

<div class="Icon">
    <i class="fa-brands fa-facebook text-primary fa-2x" ></i>
    <i class="fa-brands fa-linkedin text-primary fa-2x"></i>
    <i class="fa-brands fa-twitter text-primary fa-2x"></i>
    <i class="fa-brands fa-instagram text-primary fa-2x"></i>
    <i class="fa-brands fa-youtube text-primary fa-2x"></i>
    </div>

</div> -->






<!-- <div class="Footer">
    <span>ABOUT US</span><br>
    
    <span>SERVICES</span><br>
    <span>CONTACT</span><br>
    <span>CAREERS</span><br>
     <span>Nestif Technologies believes in innovation and adapting to new technologies.<br> We collaborate with partners to drive efficient product development through disruptive technologies.<br> We can play role anywhere in the product development, consulting, POC or implementation.</span><br>
    
    

    <span>copyright @ 2022 Nestif Technologies.</span>
    
    

</div> -->

<!-- <div class="Footer">
    <div class="row">
        <div class="col">
            <h5>VISIT US</h5>
            <div class="social-icons">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
               
            </div>
          
        </div>
        <div class="col">
            <h5>OFFICE</h5>
            <p>  Bhagalpur Head office<p>
                <p>  Bihar, India</p>
                <p >Copyright@2022 Nestif Technologies Pvt Ltd. </p> 
        </div>
        
        <div class="col">
            <h5>CAREERS</h5>
            <h5>CONTACT US</h5>
            
            <p >Email-id:abcd5566@gmail.com</p>
            <h5 >+91-8976543009</h5>

             
        </div>  
    </div>
       
       
</div> -->
