



<!-- <img src="assets/Images/banner_nestIf.png"  > -->
<ngb-carousel >
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/Images/Slide3.JPG" alt="Random first slide" width="95%">
    </div>
    <div class="carousel-caption">
      <h3></h3>
     
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/Images/Slide5.JPG" alt="Random second slide" width="95%">
    </div>
    <div class="carousel-caption">
      <h3></h3>
     
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/Images/Slide6.JPG" alt="Random third slide" width="99%">
    </div>
    <div class="carousel-caption">
      <h3></h3>
     
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/Images/internet-3484137_1920.jpg" alt="Random third slide" width="80%">
    </div>
    <div class="carousel-caption">
      <h3></h3>
     
    </div>
  </ng-template>
  
</ngb-carousel>

<hr>


<div class="block-quote">
  <p>
        The workforce is the lifeblood of any organization, and with the right people, you can transform businesses. At Nestif, we aim to do just that – equip companies with world-class workforce management solutions to help them succeed.
     As a globally recognized workforce management services provider, we offer end-to-end HRO services that are aimed at solving complex HR challenges. From customized staffing services, expert talent acquisition, search and recruitment, payroll compliance, training and skill development, to managed workforce solutions, Quess provides all the tools necessary to drive your business growth.
  </p>
  </div> 
